mixed-port: 7880                          # mixed port
socks-port: 7881                          # socks port
port: 7882                                # http port
allow-lan: true
mode: rule
log-level: warning
external-controller: 127.0.0.1:9090       # control port

dns:
  enable: true
  listen: 0.0.0.0:7853                    # dns port
  ipv6: false
  enhanced-mode: redir-host
  default-nameserver:
    - 114.114.114.114
  nameserver:
    - https://dns.pub/dns-query
    - https://dns.alidns.com/dns-query
  fallback:
    - tls://8.8.8.8:853
    - https://101.6.6.6:8443/dns-query

proxy-providers:
  LinkCube: # 机场订阅
    type: http
    url: "https://api.linksubscribe.cc/sub?target=clash&emoji=true&url=https%3A%2F%2Flinkcube.co%2Fmodules%2Fservers%2FV2raySocks%2Fosubscribe.php%3Fsid%3D2476%26token%3DcwV8pVhFeOd8%26sip002%3D1"
    interval: 86400
    path: ./Proxy/LinkCube.yaml
    health-check:
      enable: true
      interval: 600
      url: http://www.gstatic.com/generate_204

proxy-groups:
  - name: 默认代理
    type: select
    proxies:
      - DIRECT
      - REJECT
    use:
      - LinkCube

  - name: 代理测速
    type: url-test
    proxies:
      - DIRECT
      - REJECT
    use:
      - LinkCube
    tolerance: 1000
    # lazy: true
    url: 'http://www.gstatic.com/generate_204'
    interval: 300

  - name: 自定义代理
    type: select
    proxies:
      - 默认代理
      - DIRECT
      - REJECT

  - name: 自定义直连
    type: select
    proxies:
      - DIRECT
      - REJECT
      - 默认代理

  - name: 广告域名
    type: select
    proxies:
      - REJECT
      - DIRECT
      - 默认代理

  - name: 被墙流量
    type: select
    proxies:
      - 默认代理
      - DIRECT
      - REJECT

  - name: Apple流量
    type: select
    proxies:
      - 默认代理
      - DIRECT
      - REJECT

  - name: Google流量
    type: select
    proxies:
      - 默认代理
      - DIRECT
      - REJECT

  - name: 国外流媒体
    type: select
    proxies:
      - 默认代理
      - DIRECT
      - REJECT
    use:
      - LinkCube

  - name: 局域网流量
    type: select
    proxies:
      - DIRECT
      - REJECT
      - 默认代理

  - name: 中国流量
    type: select
    proxies:
      - DIRECT
      - REJECT
      - 默认代理

rule-providers:
  不代理程序:
    type: http
    behavior: classical
    url: "https://raw.githubusercontent.com/hcwhan/WebFile/main/clash/config/RuleSet/不代理程序.yaml"
    path: ./RuleSet/不代理程序.yaml
    interval: 86400
  自定义代理域名:
    type: http
    behavior: classical
    url: "https://raw.githubusercontent.com/hcwhan/WebFile/main/clash/config/RuleSet/自定义代理域名.yaml"
    path: ./RuleSet/自定义代理域名.yaml
    interval: 86400
  自定义直连域名:
    type: http
    behavior: classical
    url: "https://raw.githubusercontent.com/hcwhan/WebFile/main/clash/config/RuleSet/自定义直连域名.yaml"
    path: ./RuleSet/自定义直连域名.yaml
    interval: 86400
  广告域名:
    type: http
    behavior: domain
    url: "https://raw.githubusercontent.com/Loyalsoldier/clash-rules/release/reject.txt"
    path: ./RuleSet/广告域名.yaml
    interval: 86400
  GFWList域名:
    type: http
    behavior: domain
    url: "https://raw.githubusercontent.com/Loyalsoldier/clash-rules/release/gfw.txt"
    path: ./RuleSet/GFWList域名.yaml
    interval: 86400
  GreatFire域名:
    type: http
    behavior: domain
    url: "https://raw.githubusercontent.com/Loyalsoldier/clash-rules/release/greatfire.txt"
    path: ./RuleSet/GreatFire域名.yaml
    interval: 86400
  Apple域名:
    type: http
    behavior: domain
    url: "https://raw.githubusercontent.com/Loyalsoldier/clash-rules/release/apple.txt"
    path: ./RuleSet/Apple域名.yaml
    interval: 86400
  iCloud域名:
    type: http
    behavior: domain
    url: "https://raw.githubusercontent.com/Loyalsoldier/clash-rules/release/icloud.txt"
    path: ./RuleSet/iCloud域名.yaml
    interval: 86400
  Google域名:
    type: http
    behavior: domain
    url: "https://raw.githubusercontent.com/Loyalsoldier/clash-rules/release/google.txt"
    path: ./RuleSet/Google域名.yaml
    interval: 86400
  国外流媒体域名:
    type: http
    behavior: classical
    url: "https://raw.githubusercontent.com/DivineEngine/Profiles/master/Clash/RuleSet/StreamingMedia/Streaming.yaml"
    path: ./RuleSet/国外流媒体域名.yaml
    interval: 86400
  局域网IP:
    type: http
    behavior: ipcidr
    url: "https://raw.githubusercontent.com/Loyalsoldier/clash-rules/release/lancidr.txt"
    path: ./RuleSet/局域网IP.yaml
    interval: 86400
  中国IP:
    type: http
    behavior: ipcidr
    url: "https://raw.githubusercontent.com/Loyalsoldier/clash-rules/release/cncidr.txt"
    path: ./RuleSet/中国IP.yaml
    interval: 86400

rules:
  - RULE-SET,不代理程序,DIRECT
  - RULE-SET,自定义代理域名,自定义代理
  - RULE-SET,自定义直连域名,自定义直连
  - RULE-SET,广告域名,广告域名
  - RULE-SET,GFWList域名,被墙流量
  - RULE-SET,GreatFire域名,被墙流量
  - RULE-SET,Apple域名,Apple流量
  - RULE-SET,iCloud域名,Apple流量
  - RULE-SET,Google域名,Google流量
  - RULE-SET,国外流媒体域名,国外流媒体
  - RULE-SET,局域网IP,局域网流量
  - RULE-SET,中国IP,中国流量
  - GEOIP,CN,中国流量
  - MATCH,默认代理
